.menu {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

.menu-text {
  text-align: center;
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.bloco-menu {
  background-color: #333;
  padding: 6px;
}

.conteudo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar verticalmente */
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

.conteudo a {
  display: block;
  color: #333;
  text-decoration: none;
  transition: transform 0.4s ease;
  margin-bottom: 40px; /* Espaçamento entre os itens */
}

.conteudo a:hover {
  transform: scale(1.5);
}

.conteudo h3 {
  font-size: 15px;
  color: rgb(96, 99, 99);
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease;
}

a:hover {
  transform: scale(1.5);
}

.rodape {
  padding: 1%;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: #333;
  color: rgb(255, 255, 255);
  padding: 15px;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.sobre {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  margin-top: 100px;
  color: rgb(96, 99, 99);
  margin-left: 10%;
  margin-right: 10%;
}
